extends layout

block content
  h1= title

  // Wrapper
  #wrapper

    // USER LIST
    h2 User List
    #userList
      table(class='table')
        thead
          th Name
          th Drink
          th Phone
          th Price
          th Finished?
        tbody
    // /USER LIST

  // /WRAPPER

